main {
  margin: auto;
  width:960px;
  height:700px;
  border:2px solid black;
  position: relative;
}

.paddle {
  width:120px;
  height:20px;
  background-color: blue;
  position: absolute;
  left:420px;
  bottom:5px;
  border-radius:10px;
}

.ball {
  width:30px;
  height:30px;
  background-color: black;
  position: absolute;
  left:465px;
  bottom:50px;
  border-radius:50%;
}

.button {
  font-size:20px;  
  margin: 0 auto;
}